*{
    margin: 0px;
    padding: 0px;
}


h2 {
    text-align: center;
    font-size: 30pt;
    font-weight: 700;
    margin: 10px;
    color: rgb(4, 61, 52);
}
.Container {
    
    width: 1100px;
    padding: 16px;
    
    
}

.item {
   
    display: inline-block;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 200px;
    text-align: center;
    font-size: 13pt;
    font-weight: 400;
    vertical-align: top;
    align-items: center;
}

.Circle img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: inline;
    object-fit: fill;
    
}

.Rectangle img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.item1 {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    width: 240px;
    height: 240px;
    text-align: center;
    font-size: 13pt;
    font-weight: 400;
    vertical-align: top;
}

.Para {
    margin-bottom: 16px;
    text-align: left;
    text-align: justify;
    font-weight: 400;
    font-size: 11pt;
}

.Price {
    text-align: left;

}